<section>
    <div class="profile">
        <div class="profilePic">
            <img src="/images/profilePicDef.png" alt="">
        </div>

        <div class="profileInfo">
            <h1>Welcome back <%= currentUser.username %></h1>
            <h4>Username: <%= currentUser.username %></h4>
            <h4>Email address: <%= currentUser.email %></h4>
            <h4>Articles created: <%= currentUser.articles.length %></h4>
            <a href="/logout">Log Out</a>
        </div>
    </div>
</section>

<section>
    <h1 class="profile-section">View all the sections</h1>
    <a href="/"><h4>Go to sections</h4></a>
</section>
<section>
    <h1 class="profile-section">Your created articles</h1>
    <div class="articlesHomepage">
        <div class="add-container">
            <h4>Create new article</h4>
            <a href="/articles/create">
                <img src="/images/addArt.png" alt="">
            </a>
        </div>
        
        <% if (currentUser.articles[0]) { %>
            <% currentUser.articles.forEach(article => { %>
                <div class="home-container">
                    <div class="profile-container-function">
                        <h3><%= article.title %></h3>
                        <div>
                            <a href="/articles/<%=article._id%>/delete">Delete</a>
                            <a href="/articles/edit-article/<%=article._id %>">Update</a>
                        </div>
                        
                        
                    </div>
                    <a href=<%- `/articles/${article.ageRange}/${article.id}` %>>
                        <img src="<%= article.imageUrl %>" alt="">
                    </a>
                    
                </div>
            <% }) %>
            
        <% }else{ %>
            <h4>Your articles section is empty</h4>
        <% } %>
    </div>
</section>

<section>
    <h1 class="profile-section">Favorites</h1>
    <div class="articlesHomepage">
        
        <% if (currentUser.favorites[0]) { %>
            <% currentUser.favorites.forEach(fav => { %>
                <div class="home-container">
                    <div class="profile-container-function">
                        <h3><%= fav.title %></h3>
                    </div>
                    
                        <form method="POST" action="/articles/fav/<%= fav._id %>/remove">
                            <button type="submit">Remove</button>
                        </form>
                
                        
                        <img src="<%= fav.imageUrl %>" alt="">
                    </a>
                    
                </div>
            <% }) %>
            
        <% }else{ %>
            <h4>Your favorites section is empty</h4>
        <% } %>
    </div>
</section>

