
<h1 class="profile-section">Update Article</h1>
<div>
    <form action="/articles/edit-article/<%=articleToEdit.ageRange%>/<%=articleToEdit._id%>" method="post" enctype="multipart/form-data">
       
        <div class="form-input">
            <label class="form-label">Title</label>
            <input class="form-control" type="text" name="title" value="<%=articleToEdit.title%>" required>
        </div>
        
        <div class="form-input">
            <label class="form-label">Age Range</label>
            <select name="ageRange" class="form-control" type="select" value="<%=articleToEdit.ageRange%>">
                <option value="Pregnancy" <% if (articleToEdit.ageRange === "Pregnancy") { %> selected <% } %>>Pregnancy</option>
                <option value="Birth-1Month" <% if (articleToEdit.ageRange === "Birth-1Month") { %> selected <% } %>>Birth-1 Month</option>
                <option value="2-6Months" <% if (articleToEdit.ageRange === "2-6Months") { %> selected <% } %>>2-6 Months</option>
                <option value="7-12Months" <% if (articleToEdit.ageRange === "7-12Months") { %> selected <% } %>>7-12 Months</option>
                <option value="13-18Months" <% if (articleToEdit.ageRange === "13-18Months") { %> selected <% } %>>13-18 Months</option>
                <option value="19-24Months" <% if (articleToEdit.ageRange === "19-24Months") { %> selected <% } %>>19-24 Months</option>
            </select>
        </div>

        <div class="form-input">
            <label class="form-label">Link</label>
            <input type="text" name="link" class="form-control" value="<%=articleToEdit.link%>">
        </div>

        <div class="form-input">
            <label class="form-label">Upload Image</label>
            <input class="form-control" type="file" name="imageUrl" accept="image/png, image/jpg">
        </div>

        <div class="form-input">
            <label class="form-label">Content</label>
            <textarea class="form-control create-content" type="text" name="content" required placeholder="max 2000 characters"><%=articleToEdit.content%></textarea>
        </div>
        <button type="submit" class="submit-button">Update your article</button>
    </form>
</div>
