<div class="oneArticle">

<section class="articleDetails">
    <div class="header">
        <div>
            <h1 class="profile-section">Title: <%= article.title  %></h1>
            <h4>Created by: <%= article.createdBy.username %></h4> 
        </div>

        <div class="profile-container-function isOwner">
            <form method="POST" action="/articles/fav/<%= article._id %>">
                <button type="submit">Fav Article</button>
            </form>

            <% if (owner === currentUser) { %>
                <a href="/articles/edit-article/<%=article._id %>">Update Article</a>
                <a href="/articles/<%=article._id%>/delete">Delete Article</a>
            <% } %>
        </div>
    </div>
    
    <img src="<%=article.imageUrl%>" alt="imageArticle">
    <p><%= article.content  %></p>
    <% if (article.link) { %>
     <p>Useful link: <%= article.link %></p>
    <% } %>
</section>

<aside>
    <h4>More articles in this section</h4>
    <ul>
        <% allArticles.forEach(element => { %>
            <li><a href=<%- `/articles/${element.ageRange}/${element.id}` %>><%= element.title %></a></li>
        <% }) %>
    </ul>
        
    
</aside>

</div>




