<h1>One article</h1>
<%= title  %>
<br>
<br>
<%= content  %>
<img src="<%=imageUrl%>" alt="imageArticle">
<br>
<a href="/articles/edit-article/<%=_id %>">Update Article</a>
<a href="/articles/<%=_id%>/delete">Delete Article</a>
 <p>Created by: <%= createdBy.username %></p> 



